[2014-05-22 09:08] davidmason opened #1 "Loader bases path to original source on location of javascript file rather than module root."
A dependency is specifying the sourceMappingURL path relative to the module root, in a javascript file that is not at the module root:

[code]

I'm not sure whether they are doing the right thing, but the loader is warning that it cannot find the .coffee file:

[code]

It may make sense to generate the path based on the module root by default or as a fallback.

[2014-05-22 15:07] #1 closed, assigned to nobody

[2015-01-25 07:08] Arnavion opened #2 "This uses node fs directly to read JS and sourcemap files"
... instead of the compiler's inputFileSystem. As a result if the files don't actually exist on disk, this doesn't work.

[2015-04-30 15:49] fubupc opened #6 "Please update this package on npmjs.com.."
@sokra

Sorry to be bothering you, but the fix #5 is not updated on npmjs.com.

Could you please update it? Thank you!

[2015-07-16 19:57] kentcdodds opened #7 "Update async?"
Perhaps there's something I should/could be doing to avoid this. If so, let me know. But I just updated to the latest version of `async` (`1.3.0`) and I'm now getting this:

I'd like to avoid the noise of these warnings. Is there any issue with updating the dependency to be `^0.9.0 || ^1.x` so I can upgrade without having the warnings?

[2015-10-10 19:25] phestermcs opened #10 "Typescript 1.6 es6 with Decorator, Babel, SourceMap, throwing Exception"
I'm using TS@1.6.2 configured to output ES6 and sourcemaps, outside of webpack.
Then using webpack@1.12.2  with source-map-loader@0.1.5  preloader, and babel-loader@5.3.1 loader.
If original TS source contains a Decorator, the following exception is thrown

			if(isError) throw e;
			            ^

Error: No element indexed by 1
    at ArraySet_at [as at] (c:\src\webpack\node_modules\webpack-core\

[2015-10-11 01:22] phestermcs commented on #10
This was a bug in babel where it was incorrectly merging sourcemaps

[2015-10-11 01:22] #10 closed

[2016-01-15 19:39] elado opened #11 "Webpack error when using this loader"
Webpack version = 1.12.11

I have a module that compiles itself with `babel -s -d lib/ src/` and generates `.js` and `.js.map` in `lib`.

I get this error whether I use this loader or an inline source map (issue reported here too - https://github.com/webpack/webpack/issues/1895) so I believe this is a webpack issue, but is there a fix this loader can introduce?

[code]

[2016-05-06 01:13] seansfkelley opened #13 "source-map-loader overrides `alias` setting in webpack config, causing multiple inclusions of a library"
The repro for this bug is a little involved, so I made a repo for it: https://github.com/seansfkelley/source-map-loader-bug

Summay: if you want to do local development across multiple repos but have a singleton specified in the webpack config's `alias` block (real world example: React, which generally has to be a singleton on the page), and the root one uses `source-map-loader`, it will override

[2016-05-06 01:15] seansfkelley opened #14 "when using `npm link`ed repos, source-map-loader must be present in all of them"
Discovered this along with #13, so you can see a repro at the same repo: https://github.com/seansfkelley/source-map-loader-bug under "bonus bug".

Summary: if you want to do local development across multiple repos and so have `npm link`ed them together, `source-map-loader` must be installed in each linked repo, which is unexpected. It should only be necessary in the root repo, which is the one act

[2016-05-06 12:14] Delagen opened #15 "webpack 2.x not work at all"
Emit error for `only path with file:// can be executed in node.`

[2016-05-06 18:25] seansfkelley commented on #13
Turns out this is an issue with Webpack itself, not this particular loader. Closing in favor of https://github.com/webpack/webpack/issues/2441.

[2016-05-06 18:25] #13 closed

[2016-05-06 18:27] seansfkelley commented on #14
Turns out this is a bug with webpack itself. Closing in favor of https://github.com/webpack/webpack/issues/2442.

[2016-05-06 18:27] #14 closed

[2016-05-17 16:33] raybooysen opened #16 "Regex for matching URLs is not strict enough"
Hit this today, we're using a package which used the source-map-support package.  In their code they have a comment that, to the loader, looks like a source map url.  I've opened an issue here:
https://github.com/evanw/node-source-map-support/issues/136

Is it possible to make the regex more strict?

[2016-06-21 20:48] Luchillo opened #17 "[Q&A] Why use loader instead of SourcemapDevToolPlugin?"
If there's a [SourceMapDevToolPlugin](https://webpack.github.io/docs/list-of-plugins.html#sourcemapdevtoolplugin) plugin that allows to specify ignores to the source map generation process, why use the loader at all?

[2016-07-14 05:35] kennethkoontz opened #18 "Cannot find source file warnings"
Not sure if this is the correct place to report this issue but when adding new node packages, sometimes I get errors as such:

[code]

Adding the following `exclude` entry to my webpack configuration suppresses the warning:

[code]

What can I do to resolve this without excluding to suppress the warning?

[2016-07-15 14:47] jsg2021 commented on #17
That plugin is for generating sourcemaps from your code. This loader adds sourcemaps from libraries already complied. (from node_modules or your module root(s))

[2016-07-15 18:34] Luchillo commented on #17
Ohh i see, thanks.

[2016-07-15 18:34] #17 closed

[2016-09-24 16:25] aleckravets opened #19 "Style loader causes wrong regex match"
If the loaded resource is bundled with webpack+style-loader and minified (no spaces), source map loader triggers the false regex match due the the following line in the style loader's runtime code (addStyles.js:235):

  `css += "\n/*# sourceMappingURL=data:application/json;base64," + btoa(unescape(encodeURIComponent(JSON.stringify(sourceMap)))) + " */";`

and fails trying to parse this string.

[2016-10-09 12:13] SpaceK33z commented on #6
Closing since `0.1.5` was released (a while ago).

[2016-10-09 12:13] #6 closed

[2016-11-14 21:09] blacksonic opened #20 "Error with Webpack version 2.1.0-beta.26"
I get the following error after I ugraded my Webpack to 2.1.0-beta.26.

[code]

[2016-11-14 21:15] blacksonic commented on #20
The problem was with my rules configuration, the correct for mis ```source-map-loder```, missed the ```-loader``` suffix.

[2016-11-14 21:15] #20 closed

[2016-11-18 08:15] philipstanislaus commented on #17
Could we add this (or an even longer) explanation to the readme? It is still a bit unclear to me whether I need this loader. Would help a lot if you could elaborate. Thanks  👍

[2016-12-30 08:38] arnoudius commented on #15
I was able to get it to work in webpack 2.2.0-rc3, using this config:

module: {

    rules: [

      {
        enforce: 'pre',
        test: /\.js?$/,
        loader: 'source-map-loader'
      },

      {
            // other loader config
      }

       // other loaders etc

},

[2017-01-11 06:17] vipintme opened #23 "Source Maps not working with Webpack"
We are developing an application using aurelia + webpack. We have installed source-map-loader but we are getting an error during the webpack build process. The error is showing that "module parse failed" for each source map files. When we exclude the aurelia bundle from the webpack, it works as expected.

Package.json

[code]

Webpack.config.js

[code]
We are getting following error in the webpack

[2017-01-12 08:22] unional opened #24 "How to re-map source root?"
I'm using `webpack` to bundle a single build:

[code]

The resulting source map path is a relative path:
![image](https://cloud.githubusercontent.com/assets/3254987/21881806/a35aa74c-d85c-11e6-843c-771447e170a7.png)

I get around it by changing the `sourceRoot` in `tsconfig.json`:
[code]

This way, the source map is displayed nicely in the browser:
![image](https://cloud.githubusercontent.com/asse

[2017-01-12 19:58] #15 closed

[2017-01-26 22:45] asapach opened #25 "Inline source map with extended data uri syntax causes an error"
One of the libraries I'm using has the following inline source map:
[code]
This doesn't match the regexp: [` /data:[^;\n]+;base64,(.*)/`](https://github.com/webpack-contrib/source-map-loader/blob/00c324ceb61f4f849b43b6b9c5b723879ca65559/index.js#L17), because it specifies an encoding in the `mediatype`, but it's perfectly valid according to the spec: https://developer.mozilla.org/en-US/docs/Web/HT

[2017-01-30 22:14] jacob-robertson commented on #18
I'm seeing this as well.  It's very inconvenient, since the warnings make the actual output difficult to read.
I've included my sample configuration and output.

[SampleConfig.zip](https://github.com/webpack-contrib/source-map-loader/files/740567/SampleConfig.zip)

[Sample output](https://i.imgur.com/34VMS78.png)

[2017-02-01 17:40] nrdobie commented on #25
👍  Having the same issue with PostCSS.

[2017-02-23 10:41] vasyas opened #29 "Source file referenced in source map is add to webpack watch list"
Hi,

I use source-map-loader to preload generated source maps.
Due to source-map-loader the source file that is referenced from the source map is added to webpack watch list.

So when I change source file webpack run rebuild.
The problem is that source maps are not generated by webpack.
And changing source file should not trigger the build.

[2017-03-02 19:47] CNDW commented on #25
this is fixed by https://github.com/webpack-contrib/source-map-loader/pull/21/files, it's almost 2 months old now, can we get this fixed pushed through?

[2017-03-07 03:18] michael-ciniawsky commented on #25
Closing since #21 was merge

[2017-03-07 03:18] #25 closed

[2017-03-07 03:28] michael-ciniawsky commented on #23
@vipintme Is this still happening in the latest aurelia and webpack version?

[2017-03-07 13:07] vipintme commented on #23
No, This issue is resolved in the webpack 2

[2017-03-08 08:44] johanssonfredrik commented on #18
I am also seeing this problem.

We have a npm linked dependency that we are unable to exclude from the sourcemapping. It seems that the path resolves incorrectly. If i exclude relative path 'node_modules/<linked lib>' it do not exclude it but if i give a absolute path the exclusion works.

[2017-03-08 17:13] michael-ciniawsky commented on #24
@unional Maybe #9 is what your are looking for :). Could take a look please

[2017-03-08 17:14] #23 closed

[2017-03-08 17:15] michael-ciniawsky commented on #19
Should be fixed by #31

[2017-03-08 17:15] #19 closed

[2017-03-08 17:18] michael-ciniawsky commented on #16
@raybooysen Maybe fixed by #31, I reopen if it shouldn't be the case 😛

[2017-03-08 17:18] #16 closed

[2017-03-08 18:28] unional commented on #24
Thanks. I have resolved this issue by the following:

[code]

[2017-03-08 18:28] #24 closed

[2017-03-09 22:20] ecarlisle opened #32 "Documentation Request"
Hi! I really appreciate `source-map-loader`! It's definitely a big help in debugging.

I want to understand, however, that it's doing exactly what I think it is. This will help in optimizing my bundling process.  Here's my understanding so far:

1. As a pre-loader, `source-map-loader` will find the inline and external source maps for all libraries included in a build.
2.  It will process all of th

[2017-03-09 22:29] michael-ciniawsky commented on #32
@ecarlisle While I can't answer that question 💯 , the initial intro you wrote sounds pretty good so far 👍 when you have time please feel free to a send PR with your writings and additions can be discussed and added later then 😛

[2017-03-10 13:19] borisirota opened #34 "warning in the newest version (0.27.1) of css-loader"
`css-loader` was updated and [this comment](https://github.com/webpack-contrib/css-loader/blob/master/lib/convert-source-map.js#L11) was added.

I think that this is the reason for the next warning ->
[code]

[2017-03-10 14:09] michael-ciniawsky commented on #34
@borisirota Wrong repo 🙃 . Could you please reopen in `css-loader`  the module here isn't used by `css-loader`, since this seems to be some kind of workaround in `css-loader`, it's likely you're right 😛

[2017-03-10 14:31] michael-ciniawsky commented on #34
Tracking Issue is here https://github.com/webpack/webpack/issues/4458

[2017-03-10 17:48] ecarlisle commented on #32
@michael-ciniawsky : Thank you! I did some testing yesterday and am more confident about my description above.  I'll submit a PR asap.

Thanks!

[2017-03-11 12:16] borisirota commented on #34
@michael-ciniawsky Thanks for the quick reply and sorry for not being 100% clear about my usage. I'm using both `source-map-loader` and `css-loader` and since the last update of `css-loader` I see this warning.

Does `source-map-loader` suppose to intercept [this example comment](https://github.com/webpack-contrib/css-loader/blob/master/lib/convert-source-map.js#L11) as trigger to find the source

[2017-03-11 15:48] michael-ciniawsky commented on #34
@borisirota kk I must check and any logs etc are appreciated, if I rememver right, there was a similiar issue before, but I tought it was fixed 😛 . In any case I remove the comment in `css-loader` to fix asap and if `source-map-loader` has a flanky RegExp check somewhere we must debug it first :D

[2017-03-11 15:52] michael-ciniawsky commented on #34
This was the last change [#31](https://github.com/webpack-contrib/source-map-loader/pull/31/files#diff-168726dbe96b3ce427e7fedce31bb0bcR12)

[2017-03-12 17:44] michael-ciniawsky commented on #34
Fixed by [#452](https://github.com/webpack-contrib/css-loader/pull/452)

[2017-03-12 17:44] #34 closed

[2017-03-13 09:33] borisirota commented on #34
@michael-ciniawsky great thanks !

[2017-03-24 01:19] ecarlisle commented on #32
Hi!
I finally had a chance to write some copy.  Please see the fork here:
https://github.com/ecarlisle/source-map-loader/tree/elaborate-on-primary-documentation
Let me know if you're like to make this into a PR.  All feedback, corrections are welcome.

Thanks!
Eric

[2017-03-24 04:53] michael-ciniawsky commented on #32
Open PR 🙃  and corrections can be discussed/corrected there then, looks good, only a few nits in styling 😛 thx very much

[2017-03-24 16:39] ecarlisle commented on #32
PR added at https://github.com/webpack-contrib/source-map-loader/pull/35

[2017-03-28 19:06] AndrewKirkovski opened #38 "Regexp is matching non-last sourceMapURL"
Regexp matches `data:application/json;base64,"+btoa(unescape(encod` which is not last sourcemap url
Should match last one

For file https://github.com/spiral-modules/toolkit/blob/cc18539600225996866d70d3952d0a5c95b2ff74/resources/scripts/sf.toolkit.js (Generated by webpack)

[2017-03-29 11:32] AndrewKirkovski commented on #38
Update: upon further investigation it seems both `regex1` and `regex2` matches, but first match is incorrect.

[2017-03-31 14:37] LeonardoGentile opened #40 "Does not work with npm link"
I'm not sure if this problem is coming from this loader or webpack or from node itself.

I'm developing a package having peerDependencies, so I've `npm link`ed it to my application, that means that when I cd into my application's `node_modules` I see a symlink `my-package` -> `/real/path/to/my-package`.

I'm using webpack2 and my resolve.modules looks like this:

[code]

So npm link-ed packages sh

[2017-04-05 17:14] jlost opened #41 "Typescript file: "Unexpected token""
Hi, I'm following the instructions on the webpack site to set up Typescript and Webpack with source maps:
https://webpack.js.org/guides/webpack-and-typescript/

I receive an error when I run `webpack` with the following configuration:

webpack.config.js:
[code]

tsconfig.json:
[code]

package.json:
[code]

test.ts:
[code]

error:
[code]

[2017-04-07 14:51] kraftwer1 opened #42 "Loading preexisting source map: "Unexpected token""
I'm trying to load a preexisting source map using:

    rules: [
        {test: /\.js$/, use: "source-map-loader", enforce: "pre"}
    ]

Unfortunately, I'm getting this warning:

    WARNING in ./modules/MyFile.js.map
    Module parse failed: /Users/me/MyFile.js.map Unexpected token (1:10)
    You may need an appropriate loader to handle this file type.
    | {"version":3,"file":"MyFile.js","sour

[2017-04-07 16:14] michael-ciniawsky commented on #42
@kraftwer1 `source-map-loader` doesn't seem to get trigger at all, because the `test` RegExp is off :) Please try the following

[code]

[2017-04-09 04:23] d3viant0ne opened #43 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-10 06:10] kraftwer1 commented on #42
Thanks, tried it, but still no success (same warnings). My config looks like that now:

    const modulesPath = path.resolve(path.join(__dirname, "modules"));

    module.exports = {
        ...
        resolve: {
            ...
            extensions: [".webpack.js", ".web.js", ".js", ".js.map"]
        },
        module: {
            rules: [
                    {test: new RegExp(modulesPath+"

[2017-04-10 07:14] michael-ciniawsky commented on #42
@kraftwer1 Coud you try without

- `config.resolve`
- `test: /\.js\.map/`
- `react-hot-loader` in `config.module.rules` aswell, and rm `config.loaders`

[code]

[2017-04-10 09:24] warpdesign commented on #40
I am also trying to use it with npm link and it doesn't seem to work either: source-maps for my library don't seem to be used at all, but I get no error.

Here is the configuration I used:

            {
                test: /athenajs\.js$/,
                use: ["source-map-loader"],
                enforce: "pre"
            }

[2017-04-10 09:34] LeonardoGentile commented on #40
I kinda of make it work with
[code]
and using `devtool: "#inline-source-map",`

[2017-04-10 09:40] warpdesign commented on #40
I changed devtool to `source-map` and it's now working.

Note that I didn't have to specify include parameter.

[2017-04-10 09:40] kraftwer1 commented on #42
Thanks again. Unfortunately, the same error.
Note that I can't leave `config.resolve` away, otherwise it can't find my Node modules.

Actual config is:

    const modulesPath = path.resolve(__dirname, "modules");

    module.exports = {
        ...
        resolve: {
            modules: [
                path.resolve("folder1/node_modules"),
                path.resolve("folder2/node_modules")

[2017-04-10 09:42] LeonardoGentile commented on #40
@warpdesign yes I guess you don't have to but as I read from the instruction in the readme:

[2017-04-10 09:49] michael-ciniawsky commented on #42
hmm... by rm `config.resolve` the important part is `extensions` => `.js.map`, also maybe without `react-hot-loader`, at best just with `source-map-loader` for now, to debug

[2017-04-10 09:51] michael-ciniawsky commented on #42
btw why `{ enforce: 'pre' }` there is no other loader running in this rule 😛

[2017-04-10 09:57] kraftwer1 commented on #42
Now I have uncommented as you suggested. Error is: `Module not found: Error: Can't resolve 'react'.`

Config:

    module.exports = {
        ...
        module: {
            rules: [
                {test: /\.js\.map/, use: "source-map-loader"}
            ]
        }
    }

[2017-04-10 10:05] michael-ciniawsky commented on #40
@LeonardoGentile The `include` is the problem here, the resolver will only lookup maps there then

[2017-04-10 10:08] michael-ciniawsky commented on #42
That's confusing it's just a `node_module` and should work out-of-the-box with webpack is it installed correctly ?

[2017-04-10 11:03] kraftwer1 commented on #42
Yes, but there's another `node_modules` folder that is also providing packages.

[2017-04-10 12:34] LeonardoGentile commented on #40
@michael-ciniawsky I know, that was my intention

[2017-04-10 12:50] warpdesign commented on #40
@LeonardoGentile Are you sure "node_modules" is part of the path webpack is using to include your module?

Since your using npm link it's likely webpack is using the resolved symlink instead of the link itself (ie: `./node_modules/my_package`).

Could you try to remove the include option and use the main file of your package for the test regex ? For example:
 test: /`my-package\.js/`

[2017-04-10 18:36] jlost commented on #41
Figured this out - the Typescript tutorial I was using was out of date; "loaders" and "rules" can't be used together.

[2017-04-10 18:36] #41 closed

[2017-04-10 23:29] michael-ciniawsky commented on #42
Ohh... 😛 I can't tell you how-to out of the gut sry, but maybe the docs [Resolve](https://webpack.js.org/configuration/resolve/) can give the necessary hint on how-to setup multiple `node_modules` folder and tell the webpack resolver to resolve them correctly

[2017-04-11 12:40] ecarlisle opened #45 "Plus signs in README.md"
Somehow I managed to include `git diff` newline **+** signs into the README.md copy. Looks like a copy/paste mishap. Ugh! That's so unlike me. :-) Sorry!

Fixed in this PR:
https://github.com/webpack-contrib/source-map-loader/pull/44

[2017-04-11 12:42] zuohaocheng commented on #45
Thanks for the catch and fixing!

[2017-04-11 12:42] #45 closed

[2017-04-19 15:42] TAGC commented on #42
If that's the wrong pattern, why is that the pattern used in this project's README?

[2017-04-19 15:55] michael-ciniawsky commented on #42
@TAGC

**index.map.js**
[code]

**index.js.map**
[code]

[2017-04-19 16:32] TAGC commented on #42
Oh okay.

[2017-04-20 05:36] michael-ciniawsky opened #46 "Standardize README"

[2017-06-05 09:55] zuohaocheng commented on #38
@AndrewKirkovski Just wanna check, has this issue been resolved in latest version?

[2017-08-04 06:27] swernerx opened #49 "Add support for disable `emitWarning`"
Currently the loader warns on 3rd party packages which have some invalid source maps. As this is typically not in the hand of the user to fix those (other than send bug reports/PRs) we should offer an option to disable warnings.

A pretty common error seems to be that source maps are included in the package, but the source maps do not contain the original source content. The references to any file

[2017-08-04 06:27] swernerx commented on #49
This is related to: https://github.com/webpack-contrib/source-map-loader/issues/18

[2017-08-04 07:05] swernerx commented on #49
This would be fixed by my PR: https://github.com/webpack-contrib/source-map-loader/pull/50

[2017-08-15 07:23] hiradimir commented on #42
@kraftwer1
I had same issue, and solve it.

It is not occured by source-map-loader.
This problem was occured this problem by pure webpack config, not include devtool, source-loader etc..
I think almost webpack/typescript user using ts-loader.

----

### Solution

I am using `ignore-loader`
see https://stackoverflow.com/a/39886771/1960600

----

[code]

---

Now, I can debug with source-map what ty

[2017-08-16 03:35] QuentinRoy opened #51 "Namespacing"
If several vendor's source map use the same file-name or the same root directory, only one of them shown in Google Chrome (I haven't tested it with other browsers).
This might be an issue in particular as some directories are very common—e.g. `src`.
Note that the source map is still here (you can find it by stepping into the corresponding function for example), it is just not shown in the sources

[2017-08-28 12:30] es0codes opened #52 "Cannot find source file '0': Error: Can't resolve './0' in '...'"
[plunker with example](https://plnkr.co/edit/k0fucabS9fgwlvuAnjuj?p=catalogue)

[2017-09-01 08:43] #52 closed

[2017-09-11 03:49] Xecutor commented on #38
I don't know if it's related, at least it looks similar, but when I added paper.js to the project, source-map-loader is breaking on line:
`code += "\n//# sourceMappingURL=data:application/json;base64,"`

[2017-09-11 04:28] zuohaocheng commented on #38
@Xecutor Thanks for feedback. May I have more information, e.g. version of `source-map-loader` and a sample file?

[2017-09-11 06:22] Xecutor commented on #38
@zuohaocheng You can try to build the "project" from this repo: https://github.com/Xecutor/ruleandpencil with webpack. I created it yesterday, so everything should be quite fresh...

[2017-09-30 02:17] #38 closed

[2017-10-02 07:42] dmitrykurmanov opened #54 "increase source-map package version ( Cannot read property 'substr' of undefined err )"
Hello, team! Thanks for your work! Can you increase `source-map` package version to the latest (~0.6.1)? This is need beacuse of bug in `source-map` package: https://github.com/mozilla/source-map/issues/247.  I am using preact and the bug is reproducing for me.

and the same https://github.com/webpack/webpack-sources/pull/27

[2017-10-09 08:15] tobiasviehweger opened #55 "Parsing issues for certain files"
If the source-map-loader (0.2.2) encounters the following, minified file, it throws a warning, that the sourceMap cannot be located

`WARNING in ./node_modules/@atlaskit/single-select/node_modules/@atlaskit/icon/lib/Icon.js
(Emitted value instead of an instance of Error) Cannot find SourceMap 'data:application/json;base64,"+btoa(unescape(encodeURIComponent(JSON.stringify(n))))+"': Error: Can't res

[2017-10-15 04:14] #7 closed

[2017-10-23 11:53] Hotell commented on #54
same here

[2017-10-23 12:37] evilebottnawi commented on #54
@Hotell done https://github.com/webpack-contrib/source-map-loader/pull/56

[2017-10-23 14:18] #54 closed

[2017-10-23 14:52] Hotell commented on #54
release new version plzzzzzz 🍻

[2017-10-25 11:03] boazhoch opened #57 "Third party source map - null"
So i'm trying to load a source map from a npm package, this is my config for source-map-loader.
if configured webpack with devtool: 'source-map' and
`{
    test: /\.js$/,
    use: ['source-map-loader'],
    enforce: 'pre',
  },`

when trying to debug file using devTools all i see is `null`
<img width="203" alt="screen shot 2017-10-25 at 12 30 51 pm" src="https://user-images.githubusercontent.com/4

[2017-11-02 16:44] Hotell commented on #54
strange thing is, that update loader still doesn't work with latest webpack :(

[2017-11-03 09:46] evilebottnawi commented on #54
@Hotell please create minimum reproducible test repo, thank you!

[2017-11-03 19:48] tomasdev commented on #54
Not sure if this is even possible, but when having multiple dependencies on a project (i.e., babel-cli) it's not always taking the highest version of the sub-dependency.

Given babel-cli@6.26 and source-map-loader@0.2.3 it ends up installing source-map@0.5.7 :(

I have tried explicitly adding `"source-map": "^0.6.1",` to my package.json without success

[2017-11-03 19:57] tomasdev commented on #54
Alt solution until this is merged:

1) `npm shrinkwrap` will generate a npm-shrinkwrap.json
2) Find `"webpack-sources": {` and replace it with:
[code]

[2017-11-08 09:56] evilebottnawi commented on #57
@boazhoch can you create minimum reproducible test repo?

[2017-11-16 11:43] boazhoch commented on #57
@evilebottnawi sure, ill do it soon.

[2017-12-05 03:57] AlexanderOMara commented on #51
This issue has been bugging me for a while.

When it loads existing source maps (from `node_modules` for example) the path is preserved, you can end up with multiple source maps at the same path.

So if you have multiple files with a source map like this:

[code]

You end up with a source map listing only one of those files like (thus mapping is lost):

[code]

This is very unpleasant, and makes l

[2018-01-21 22:50] aappddeevv opened #58 "source-map-loader appears not to handle (pass-through) sourcemaps that use http: instead of file:"
I have some `http:` source map locations instead of `file:`. It's a bit difficult to tell if this warning is being issued by source-map-loader , but I get alot of warnings around `(Emitted value instead of an instance of Error) Cannot find file https://...`.  Resolution fails for those. If its a Warning its not preventing the build but it would be nice to be able to turn these off while still leav

[2018-03-21 00:19] SuperITMan opened #60 "Source-map-loader breaks source-maps of Angular project"
Hello,

I discovered an issue with source-map-loader when we use it with Angular.
When I use your plugin in Angular project generated by NG Cli, I get the following warnings:
[code]
You can find my repo here: https://github.com/SuperITMan/demo-source-maps-project to reproduce it.

I did the following steps:
* ng new <my-demo-project>
* ng eject --aot --sm
* Added source-map-loader plugin to webpac

[2018-04-03 00:24] sstern6 opened #61 "Question: React 16 + Source Maps Loader"
Hey, I have been using this package in React 15 and really enjoyed it. We recently upgraded to React 16 and the stack traces are significantly harder to read.

Is there known issues about this?

Thank you

[2018-04-09 14:42] tadamczak commented on #49
Any chances to have it merged any time soon?

[2018-04-16 14:20] iMarv commented on #60
Having the same issue, building with [@ngtools/webpack](https://www.npmjs.com/package/@ngtools/webpack), which is being used in Angular-CLI aswell

[2018-04-26 21:33] sstern6 commented on #61
Following up on this

[2018-05-01 13:28] nadavsinai commented on #60
just add this to the exclude list
[code]

[2018-05-13 07:47] danbilokha commented on #60
@nadavsinai it helps, thanks!

[2018-05-22 09:10] SuperITMan commented on #60
The solution seems to work ! 😄
Thank you for the proposal @nadavsinai

[2018-05-22 09:10] #60 closed

[2018-06-14 17:45] PachowStudios commented on #49
It'd be really great if this got merged. This loader is basically unusable for me otherwise.

[2018-06-20 22:49] #46 closed

[2018-06-21 21:20] egucciar opened #65 "Sourcemap Loader Crashes Webpack"
Hello!

How can i get this error to stop crashin webpack?

[code]

this happens quite frequently. I am unsure of the reason why. but, thats how it is.

Instead of crashing, id like it to emit no error, and then try again on any file change.

[2018-06-22 10:48] evilebottnawi commented on #65
@egucciar feel free to send a PR

[2018-06-28 16:28] Yahkob commented on #61
@sstern6 just curious what do the source maps look like for you?

[2018-06-28 18:10] sstern6 commented on #61
@Yahkob can you be more specific? The configuration etc?  In React 15 I have a really nice well described stack trace of each file and can inspect the code. In react 16 I get more react-dom minified errors.  Has anyone else reported this before or maybe my configuration might be off?

[2018-06-28 18:13] Yahkob commented on #61
Just wanted to see what your source files looked like in devtools. From the sound of it though you have actual sourcemaps. I'm having a problem with my code being transformed code (but in the right files). I thought maybe we were having a similar problem but seems like yours is different :)

[2018-07-10 08:28] sqwk opened #66 "Loading Sourcemaps for own Library in Webpack 4"
I have a library `MyLibrary` that is loaded inside `MyApp`. Ever since upgrading to webpack 4, sourcemaps no longer get loaded by the app to debug into the library and only the webpack compiled code is shown. Sourcemaps for each the library and the app itself work fine.

A minimum reproducible repo can be found here: https://github.com/sqwk/webpack-library-test

Also see this Stackoverflow questio

[2018-07-12 14:14] fimius23 commented on #65
I'm having issues with this too. Intermittently when webpack 4 builds my source maps the file ends with an extra "} which makes it malformed JSON. Seems like this library should consider wrapping the JSON.parse() on the line mentioned above in a try/catch, so a malformed map doesn't stop execution in its tracks.

[2018-07-24 18:37] pixeldrew commented on #51
looks like all node_modules paths are removed. This makes this component basically useless.

[2018-07-27 21:08] mfedderly commented on #66
I think that this depends on the devtool setting of the final webpack step. `cheap-eval-source-map` doesn't give me the sourcemaps I'm looking for but `eval-source-map` does. I suspect you need the "original source" devtools.

[2018-08-01 19:04] iclanton opened #69 "Root-relative sourcemaps have an issue on non-Windows platforms."
I've found that `source-map-loader` doesn't correctly handle sourcemaps with root-relative `sourceRoot` properties in sourcemaps. I've put together a fix here: https://github.com/webpack-contrib/source-map-loader/pull/68

[2018-08-14 10:02] michael-ciniawsky commented on #69
Fixed by #68 and will be released soon (~1 day) after some additional chores like e.g #71 :)

[2018-08-14 10:02] #69 closed

[2018-08-14 10:05] michael-ciniawsky commented on #66
@sqwk Did you find a solution ?

[2018-08-14 10:08] michael-ciniawsky commented on #11
This issues is very old, did you resolve it with a newer version of `webpack`, and does this 'always' happen (without the `react-hot-loader`) ? I'm closing this for now, but feel free to reopen :)

[2018-08-14 10:08] #11 closed

[2018-08-14 10:10] michael-ciniawsky commented on #18
Eventually fixed by #68

[2018-08-14 10:11] #40 closed

[2018-08-14 10:25] michael-ciniawsky commented on #58
There is a PR to silence warnings in general (#50), the warning you get is correct since the source-map-loader` doesn't fetch source maps via `http` and therefore can't resolve paths starting with `http(s)://` etc

[2018-08-14 10:25] #58 closed

[2018-08-14 11:32] michael-ciniawsky commented on #69
Released in [`v0.2.4`](https://github.com/webpack-contrib/source-map-loader/releases/tag/v0.2.4) 🎉

[2018-08-14 12:40] sqwk commented on #66
@michael-ciniawsky Afraid not.

[2018-08-14 12:43] michael-ciniawsky commented on #66
hmmm... 😞 😛 ok I will try to look at it again when have the time, it's still a bit hard to pinpoint it with the reproduction repo

[2018-09-16 07:25] hannadrehman opened #73 "Emitted value instead of an instance of Error. (warning in webpack build)"
i am using lerna and needed this plugin to get sourcemap for lerna packages.  but i am getting this warning after every build.

[code]

this is my loader config

[code]

[2018-09-27 10:33] exclusiveMonkey commented on #73
hello, do you resolve this problem?

[2018-09-27 15:04] warpdesign opened #74 "Source maps not recognized?"
I am building a library `athenajs` using webpack, and using this library with a typescript 'app' also built using webpack.

When debugging the 'app' that's using the 'library', I'd like to see the library's lines of code.

Right now, if I use the library in a very simple app (not built with webpack), the source maps work as expected, so I am assuming the library's source map are correctly generate

[2018-09-27 15:51] warpdesign commented on #74
I got it: it's the typescript loader that was messing up with the sourcemaps: I have excluded the lib bundle from the typescript loader and sourcemaps now work properly:

[code]

[2018-09-27 15:51] #74 closed

[2018-09-29 09:42] hannadrehman commented on #73
@exclusiveMonkey not yet. still waiting for the maintainers to respond

[2018-10-10 03:07] brcarey commented on #66
Big +1 on this. Spent some time trying to debug/diagnose the issue and try out some solutions, and came up with nothing.

[2018-10-10 04:32] brcarey commented on #66
Update: seems the problem for me was cheap-module-source-map. As soon as I changed my dev build to use inline-source-map, source-map-loader works fine for my lib packages

[2018-10-18 03:17] PeacePan commented on #73
It seems that the polyfill repository forgot to generate the source map.
[issue](https://github.com/megawac/MutationObserver.js/issues/29)

[2018-11-15 21:59] tzachshabtay opened #76 "Bundle file not created"
Hi, I've got a weird situation, where webpack doesn't create my bundle file at all, even though I get no errors. After commenting a bunch of stuff in my config, I've isolated the problem to this module.

My code (I'm using the webpack javascript library):

[code]

The error returned is null, the stats look normal with compilation result and the output path that I would expect, but no file was gene

[2018-11-19 19:36] tzachshabtay commented on #76
I "solved" it by installing source-map-loader in a node_modules in a parent folder (which contains the code I'm bundling) which seemed to do the trick. It seemed to ignore the node_modules on my server folder no matter what I put in the resolve: modules array. Still weird that it didn't give me any errors, but I guess it's a webpack issue and not a source-map-loader issue(?) so I'll close this.

[2018-11-19 19:36] #76 closed

[2018-12-25 06:48] PeacePan commented on #73
if this issue still existed, you can use exclude option.

{

	test: /\.js$/,
	use: ['source-map-loader'],
	enforce: "pre",
	exclude: [
		/node_modules\/mutationobserver-shim/g,
	],
}

[2018-12-25 12:32] webpack-bot opened #77 "Source map URLs shouldn't be prefixed with a local path"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Some libraries (i.e. nearly all created via [Scala.JS](http://www.scala-js.org/)) have URLs in their source maps. However when being used with webpack, webpack is prepending a `./` to all the URLs results in trillions of warnings like this:

[code]

And resulting in a final source map that no longer

[2018-12-25 12:33] #18 closed

[2018-12-25 12:43] evilebottnawi commented on #77
/cc @japgolly feel free to send a PR with updating `loader-utils` and adding `isUrlRequest` before run `this.resolve`

[2018-12-31 23:12] subramn commented on #73
Same issue with  ngx-cookie-service as well, is there a work around

[2019-03-05 02:36] alecsgone commented on #18
Hi, @kennethkoontz will you be so kind and tell me what’s ‘helpers.root’ where that came from?

[2019-03-18 17:14] harish-kumar13 opened #80 "file name collision for source map source location in microservices architecture"
So I have a angular System app that makes use of component from several micro-services libraries, and in my domain, there are few common concepts that have different purpose in different services, and the individual JS names can be the same on different services.
So when source-map-loader extracts the JS src locations from each of these libraries, the file names and their relative paths can collid

[2019-04-24 16:48] Iplaylf2 opened #81 "source-map-loader don't exclude node_modules"
I just make a "hello world" demo.The dist file only take 60k when I use react+ts.But,it will take 15M when I reference antd library。
About ts-loader
[code]

About source-map-loader
[code]

source-map-loader not working.The result as same as only set   ```devtool: "inline-source-map"```

Thank you for reading my shit English.I try resolving it by myself.But I even found not one demo about this load

[2019-08-31 05:52] NoxHarmonium opened #89 "Source Map Revision 3 Index Map Not Supported"
Hi,

I have a project that is written in ClojureScript. When it outputs source maps it seems to use a format that is in the [Source Map Revision 3 spec](https://sourcemaps.info/spec.html) but is not supported by `source-map-loader`.

It seems like the error is caused because the source map uses the alternate "Index map" form, which does not have the `sources` key at the root, it has a `sections` k

[2019-08-31 06:02] NoxHarmonium commented on #89
Related: https://github.com/mozilla/source-map/issues/16

[2019-08-31 07:20] NoxHarmonium commented on #89
I've created a fork that uses an external library to flatten indexed maps.
https://github.com/NoxHarmonium/source-map-loader/commit/7b91d7cdd4ab12d5dbb403199754a58469aeaf90
It seems to be working, I'm just giving it a good test now.

[2019-08-31 07:26] NoxHarmonium commented on #89
Seems to be working well for me, I'll open a PR and see what people think of the fix

[2019-09-21 01:38] bennidhamma commented on #80
I'm experiencing the same issue

[2019-12-11 17:50] aisamu commented on #89
Running into the exact same issue! (Also a clojurescript project)

[2019-12-11 18:56] aisamu commented on #89
Confirmed that it works with the patch!

[2020-01-07 15:14] JonWallsten opened #93 "Error: RangeError: Maximum call stack size exceeded"
I the last week or so I started to get this error when bundling our code:

 | ERROR in packages\web-lib-core\dist\index.js
 | Module build failed (from node_modules\source-map-loader\index.js):
 | Error: RangeError: Maximum call stack size exceeded
 |     at Object.module.exports (C:\Users\me\repo\oas-web\node_modules\source-map-loader\index.js:31:10) **[NOTE: Sometimes it's 27:35]**
 |  @ package

[2020-03-18 21:21] cdeutsch commented on #49
Shame this was never fixed.

Useful plugin, but not going to deal with constant toasts when combined with `webpack-build-notifier`

[2020-03-18 21:46] cdeutsch commented on #49
Follow up:

[webpack-filter-warnings-plugin](https://github.com/mattlewis92/webpack-filter-warnings-plugin/tree/v1.2.1) worked for me.

[code]

Be careful when using `webpack-filter-warnings-plugin`, currently the docs in `master` don't match the latest version.
https://github.com/mattlewis92/webpack-filter-warnings-plugin/issues/4

[2020-05-13 13:48] evilebottnawi commented on #43
Done

[2020-05-13 13:48] #43 closed

[2020-05-13 13:52] evilebottnawi commented on #65
Fixed in master

[2020-05-13 13:52] #65 closed

[2020-05-13 13:57] evilebottnawi commented on #81
It is expected, and written in README:
[code]

[2020-05-13 13:57] #81 closed

[2020-05-16 09:29] cap-Bernardito commented on #80
A same problem #51. Will be resolved there.

[2020-05-16 09:29] #80 closed

[2020-05-16 10:00] cap-Bernardito commented on #32
PR #37 was merged

[2020-05-16 10:00] #32 closed

[2020-05-16 15:14] #93 closed

[2020-05-18 22:57] #89 closed

[2020-05-19 11:29] cap-Bernardito commented on #89
@NoxHarmonium, thanks for the help in solving this problem.

We decided not to use the `flatten-source-map` package, because it is little used and contains an old version of `source-map` package.

If you find any problems, please report.

[2020-05-20 09:51] NoxHarmonium commented on #89
Good point! I've tested it in my project and its working great. Thanks for getting the fix in!

[2020-05-22 11:32] #29 closed

[2020-05-22 11:32] #51 closed

[2020-05-22 11:32] #77 closed

[2020-05-22 15:00] #55 closed

[2020-05-22 17:17] #42 closed

[2020-05-22 17:18] evilebottnawi commented on #61
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-05-22 17:18] #61 closed

[2020-05-22 21:41] aletorrado opened #103 "Should read sourcemaps from `compiler.inputFileSystem`"
Hi! This loader is using the default node `fs` module to read the sourcemaps, which breaks compatibility when compiling using virtual filesystems.

It should use the fs API setted on the webpack compiler instance.

[2020-05-23 11:03] evilebottnawi commented on #103
Yes, it is a bug, duplicate of #2 and will be fixed in the next major release, ETA is the next week

[2020-05-23 11:03] #103 closed

[2020-05-23 13:43] #2 closed

[2020-05-25 17:46] evilebottnawi commented on #73
Fixed in the master, ETA is the tomorrow

[2020-05-25 17:46] #73 closed

[2020-05-26 16:35] #49 closed

[2020-06-20 10:11] Domiii opened #116 ""File URL path must be absolute" on Windows"
- Operating System: Windows
- Node Version: 13.*
- NPM Version: yarn 1.21.1 (does not matter)
- webpack Version: 4.*
- source-map-loader Version: 1.0.0

### Problem description (actual behavior)

On Windows, cryptic warnings are emitted, saying:

### Expected Behavior

No warning. Does not happen on Mac.

### How to reproduce?

No way to easily produce a minimal example of this problem, since the

[2020-06-20 13:49] cap-Bernardito commented on #116
You can remove warnings like this:

`webpack.config.js`

[code]

https://webpack.js.org/loaders/source-map-loader/#ignoring-warnings

[2020-06-22 11:12] Allegra9 commented on #116
I started getting these warnings after the update to v1.0.0

`Module Warning (from ./node_modules/source-map-loader/dist/cjs.js):
Failed to parse source map: "webpack:///fileName.js" URL is not supported`

Operating System: Mac
Node Version: 12
webpack Version: 4.*
source-map-loader Version: 1.0.0

[2020-06-22 11:36] evilebottnawi commented on #116
@Domiii @Allegra9 we can't resolve `webpack://` because we don't know real path to source maps generated from other webpack build, `webpack://` is `context` of your configuration and we don't know the value, anyway can you provide a source file with `webpack://`, We can try to resolve it like `webpack://` === `directly where places file`, it handle 99% cases

[2020-06-24 14:25] NeKJ commented on #116
I'm having the same issue and I get hundreds of these warnings:
[code]
Using version 1.0.0

@evilebottnawi I fail to understand what you have written. What do you mean 'we can try to resolve it like....'? Can you explain in detail how I can get this fixed?

[2020-06-24 17:40] evilebottnawi commented on #116
@NeKJ We don't know how parse `webpack://` protocol in source maps, each `source` is `URL`, from `URL` we get file path and read it to include in source map. You can find `webpack://` protocol in the `sources` field of some libraries. I think we can fix it.

Can you provide simple reproducible test repo?

[2020-06-25 01:05] icatalina commented on #116
👋 @evilebottnawi! Same issue here. I created a reproducible test-repo. https://github.com/icatalina/source-map-loader-116

Just clone it and:
[code]

and you can see the errors:

<img width="658" alt="image" src="https://user-images.githubusercontent.com/4542735/85642074-b6d52c80-b6d3-11ea-8a40-d91407a544ef.png">

[2020-06-25 11:59] evilebottnawi commented on #116
Thanks!

[2020-06-30 15:34] #116 closed

[2020-07-30 13:27] evilebottnawi commented on #66
When you build library for publishing you should use `devtool: 'source-map'` value if you want provide source maps for other developers (`source-map-loader` automatically loads them). Sorry it's out of our control. In most tools for building library it is described https://webpack.js.org/configuration/devtool/#production. Anyway if you want to send a PR with docs here feel free to do it.

[2020-07-30 13:27] #66 closed

[2020-08-17 07:58] shimizacken opened #119 "Failed to parse source map from [path] warning"
- Operating System: macOS Catalina `10.15.6`
- Node Version: `12.18.2`
- NPM Version: `6.14.5`
- Yarn version: `1.22.4`
- webpack Version: `4.43.0`
- source-map-loader version: `1.0.1`

### Actual Behavior

`Failed to parse source map from [path] file: Error: ENOENT: no such file or directory, open [path]` warnings are logged in the terminal (as well in the browser console log).

#### Remarks
- It

[2020-08-17 12:16] evilebottnawi commented on #119
Interesting case, if you open it locally it was resolved as absolute path, if you open it in browsers it is server-relative URLs, so usually nobody uses this, but we can handle this case, so let's mark it as feature, not bug

[2020-08-19 11:51] #119 closed

[2020-08-20 07:17] shimizacken commented on #119
@evilebottnawi Thank you for the fast response and a fix!

However, after installing the latest version `1.0.2`, seems that the issue is still reproducing with the same warnings logged in the terminal as before, for the same library `standardized-audio-context` .

I noticed that the paths contain duplication of the relative path:

Map files in the root folder duplicates: `/build/es2019/`:
[code]

[2020-08-20 12:10] evilebottnawi commented on #119
@shimizacken I investigate this issue and I'm afraid to say that we cannot fix it, `sourceMappingURL` is strange:
[code]

In file `node_modules/standardized-audio-context/build/es2019/factories/native-constant-source-node-factory.js`

it is relative to package root, but we don't know it is package or not, this would require additional logic that would improve performance dramatically.

Right `sour

[2020-08-20 12:12] evilebottnawi commented on #119
But maybe we can implement the `fallback` option using this syntax:
[code]

[2020-08-20 12:15] shimizacken commented on #119
@evilebottnawi thank you. Perhaps I'll open an issue for `standardized-audio-context` instead 👍

[2020-08-20 12:49] evilebottnawi commented on #119
@shimizacken yes, let's open an issue and wait an answer, if they will not fix it, I will think about it deeply, and provide fallback for this cases

[2020-08-20 13:01] shimizacken commented on #119
@evilebottnawi Cool! Opened an issue https://github.com/chrisguttandin/standardized-audio-context/issues/954, please let me know if it's well described

[2020-08-21 07:03] shimizacken commented on #119
@evilebottnawi  Thanks for the help. I can confirm that the issue fixed https://github.com/chrisguttandin/standardized-audio-context/issues/954 and closed 🙂

[2020-10-26 16:22] webpack-bot opened #131 "Watch mode rebuilds due to "missing" invalid files"
# Bug report

This might be issue for [source-map-loader](https://github.com/webpack-contrib/source-map-loader/issues) instead, please let me know if it must be moved. But for me it seems that there could be generic solutions possible at webpack/watchpack level that would work around the source-map-loader problem as well.

Running webpack in watch mode results in immediate rebuild once due to file

[2020-10-26 16:23] evilebottnawi commented on #131
@Knagis WIP

[2020-10-26 17:35] evilebottnawi commented on #131
Found more bugs :smile:

[2020-10-27 15:20] #131 closed

[2020-12-02 01:48] hedgepigdaniel opened #134 "Failed to parse source map ENOENT when sources is not a valid file path"
- webpack Version: 4
- source-map-loader Version: 1.1.2

### Expected Behavior

Source maps should be parsed correctly and mappings should be included for all files that have `sourcesContent` or for which `sources` points to a valid file (even if there are some sources for which the values are invalid/missing).

### Actual Behavior

source maps generated with the Google Closure compiler are not pa

[2020-12-02 11:04] alexander-akait commented on #134
No, source maps will be broken in this case, even we provide options to filter you still have invalid mapping, library source maps should not contain this stuff

[2020-12-04 02:54] hedgepigdaniel commented on #134
Sorry I made a mistake - I though that the entire source map wasn't working, but in fact its only the invalid sources that don't work. No problem :)

[2020-12-04 02:54] #134 closed

[2020-12-04 12:55] viyaha opened #135 "Failed to parse source-maps with PercentageEncoded Urls"
- Operating System: Windows
- Node Version: 14.15.0
- NPM Version: 6.14.8
- webpack Version: 5.9.0
- source-map-loader Version: 1.1.2

### Expected Behavior

No warnings, source-maps can be loaded.

### Actual Behavior

Failed to parse source map from '[...]\%7Bindex%7D.js.map' file: Error: ENOENT: no such file or directory, open '[...]\%7Bindex%7D.js.map'

### Code
Typescript fixed in issue regar

[2020-12-04 15:12] #135 closed

[2021-01-04 10:43] vespakoen opened #141 "Double reload because sourceURL is added to webpack watched files"
- Operating System: macOS
- Node Version: any
- NPM Version: any
- webpack Version: 5.11.1
- source-map-loader Version: 2.0.0

### Expected Behavior

Source files not added to webpack's dependencies

### Actual Behavior

Source files are added

### My question

I am using react-refresh and HMR and noticed that my code reloads twice, I am using typescript seperately from webpack, and use `tsc --wat

[2021-01-04 13:51] alexander-akait commented on #141
Something wrong with pipeline, I can't answer, because i don't know it, no new options, this loader will be part of core and adding `sourceURL` will be by default, otherwise recompiling source maps will not run webpack compilations, what will be wrong, unfortunately, you most likely have to present a complex configuration, otherwise I cannot help, sorry

[2021-01-05 11:24] vespakoen commented on #141
I uploaded an example repository over here:

https://github.com/vespakoen/webpack-sourcemap-loader-issue-repo

To test it out, install yarn, and run:

[code]

Then visit http://localhost:8080 and change the "Hello" string in `src/App.tsx` to something else, it will reload twice since webpack is watching for `src/App.tsx` (added by source-map-loader) and `dist/App.js`.

I understand that the "norma

[2021-01-05 12:26] alexander-akait commented on #141
What about if you don't use ts-loader or other tools?

[2021-01-05 12:30] vespakoen commented on #141
That actually IS the use case right here, I am only using the source-map-loader and webpack is only used for bundling the **already compiled by typescript** files. however, the source map loader adds the typescript source files to the webpack watch process (which I dont want webpack to be aware of) causing a double reload.

[2021-01-05 12:37] alexander-akait commented on #141
Why do not use:
[code]

In this case?

[2021-01-05 12:41] alexander-akait commented on #141
Or you can ignore `ts` files, because they compiled by ts. not webpack:
[code]

[2021-01-05 12:43] alexander-akait commented on #141
source-map-loader should always add `sourceURL` and `sources` in dependencies, other solution setup to ts compiler using `data:` URL, so nothing will be in dependencies

[2021-01-13 13:04] danielo515 opened #142 "Specify webpack version on readme"
Documentation Is:

- [ ] Missing
- [x] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

I think some kind of mapping for which versions of webpack goes with with which versions of this library.
Configuring webpack is a one-time thing, and then you forget about it. Chasing down which webpack version each loader needs it's a tedious task. Having this info directly on the read

[2021-01-13 13:11] alexander-akait commented on #142
npm and yarn output warning about this, why you ignore?

[2021-01-13 13:21] danielo515 commented on #142
I am not ignoring anything. All npm or yarn tells you is that your current version is missing X.X.X peer webpack version. That does not tells you which version of this library to instal for YOUR webpack version. I think that having to navigate the different versions of this package.json just to find what version to use is very inefficient.

[2021-01-19 16:03] MangelMaxime commented on #141
Hello @alexander-akait,

I am facing a similar issue because I am using Haxe to transpile to JavaScript.

I tried adding the directory with the source code to the ignored list as you proposed. However, Webpack still detects changes on the files under the `src` directory.

[2021-01-19 16:07] alexander-akait commented on #141
@MangelMaxime Should work, can you provide repo/example?

[2021-01-19 17:29] MangelMaxime commented on #141
@alexander-akait

Sure, I made a reproduction available here: https://github.com/MangelMaxime/SourceMapLoaderProblemReproductionHaxe

The instruction are in the README. If you need more information don't hesitate :)

[2021-01-21 13:14] alexander-akait commented on #141
@MangelMaxime simple:
[code]

[2021-01-21 13:19] alexander-akait commented on #141
`haxe/**/*.hx` is `/^haxe\/((?:[^/]*(?:\/|$))*)([^/]*)\.hx(?:$|\/)/` regexp
`./haxe/**/*.hx` is `/^\.\/haxe\/((?:[^/]*(?:\/|$))*)([^/]*)\.hx(?:$|\/)/` regexp

maybe we need doc it

[2021-01-21 13:23] alexander-akait commented on #141
or you can use `**/haxe/**/*.hx`, because it is glob and we pass absolute path here

[2021-01-21 13:42] alexander-akait commented on #141
But I think we should respect `context` (in your case it is `process.cwd()`) and `ignored`, I am investigating... Right now you can use `path.posix.resolve`/`path.posix.join`

[2021-01-21 14:49] MangelMaxime commented on #141
@alexander-akait Thank you for your help `**/haxe/**/*.hx` works and when tested I missed the fact that you used `path.posix.resolve` and not `path.resolve`

[2021-01-21 15:04] alexander-akait commented on #141
I think we need document it here

[2021-02-18 01:26] patrikniebur opened #144 "this.getOptions is not a function"
- Operating System: OSX11.1
- Node Version: v12.20.1
- NPM Version:6.14.10
- webpack Version: 4.44.2
- source-map-loader Version:2.0.1

### Expected Behavior
Build succeeding

### Actual Behavior
Build fails with the following error:
[code]

### Code

I will include minimum reproducible example later

Currently I work around the issue by patching this part:
https://github.com/webpack-contrib/sourc

[2021-02-18 08:41] das-peter commented on #144
Just came across this issue too.
Try catch block seems to do the trick for me too.
Will test further.

[2021-02-18 08:56] das-peter commented on #144
Oh I see - as of 2.0.0 webpack 5 is minimum requirement as of https://webpack.js.org/migrate/5/#getoptions-method-for-loaders

[2021-02-18 12:16] alexander-akait commented on #144
Yes, you need webpack v5 to use the latest version `source-map-loader`, nothing to fix here, please read changelog when you update something

[2021-02-18 12:16] #144 closed

[2021-02-18 18:35] patrikniebur commented on #144
Right, I missed this. Thanks for help

[2021-03-06 17:42] Tonetete opened #145 "this.getOptions is not a function when try to launch NextJS app"
- Operating System: OSX 11.3 beta
- Node Version: 12.19.0
- NPM Version: 6.14.8
- webpack Version: 4.41.2
- source-map-loader Version: 2.0.1

### Expected Behavior

When I run my NextJS app, should bundle and link the sources map and finally run the app successfully.

### Actual Behavior

NextJS app is not launched successfully with runtime errors when try to run source-map-loader:

[code]

### Co

[2021-03-09 11:55] ffarthbe commented on #145
@Tonetete Tonetete,I have the same problem,have you solved it?

[2021-03-09 12:00] ffarthbe commented on #145
https://github.com/webpack/loader-utils/issues/56#issue-206266981

[2021-03-09 12:00] ffarthbe commented on #145
@Tonetete herehttps://github.com/webpack/loader-utils/issues/56#issue-206266981

[2021-03-09 12:01] alexander-akait commented on #145
You need webpack v5 to use latest version of `sourcer-map-loader`

[2021-03-09 12:01] #145 closed

[2021-03-09 12:01] alexander-akait commented on #145
https://github.com/webpack-contrib/source-map-loader/releases/tag/v2.0.0

[2021-03-09 12:01] ffarthbe commented on #145
@Tonetete https://github.com/webpack/loader-utils/issues/56#issue-206266981 here
![Uploading image.png…]()

[2021-03-10 11:19] Tonetete commented on #145
Thank so much! I just upgraded to webpack 5 and its working flawlessly! Some points that are worth to mention in order to make it works:

- You need to add resolutions for webpack pointing to 5, otherwise it'll stick to 4 version since that's the current version NextJS is using under the hood. You can learn more here: https://nextjs.org/blog/next-9-5#webpack-5-support-beta
- It should work out-of-

[2021-04-09 14:30] paynecodes opened #146 "Incorrect sourceMappingURL path"
- Operating System: macOS 11.2.3
- Node Version: 14.16.0
- NPM Version: 6.14.11
- yarn version: 1.22.10
- webpack Version: 5.31.0
- source-map-loader Version: 2.0.1

### Expected Behavior

Breakpoint should be bound in vscode debugger in a local package.

### Actual Behavior

Breakpoint is not bound.

### Code

[code]

[code]

### How Do We Reproduce?

#### Clone and install

- Clone `https://gith

[2021-04-09 14:51] alexander-akait commented on #146
Expected, you need to use `sourceMapPathOverrides` for webpack or setup it to using `file://` protocol

[2021-04-09 14:55] paynecodes commented on #146
@alexander-akait I'm expecting to need sourceMapPathOverrides. There should be no need for the second mapping though. I'm fairly certain there is an issue here.

[2021-04-09 14:58] alexander-akait commented on #146
hm, I will look at this in near future, we don't override original source maps, so maybe you have broken `sourceURL`?

[2021-04-09 15:29] paynecodes commented on #146
### Without `source-map-loader`

Relevant eval block from `.next/static/chunks/pages/index.js`

[code]

decoded `sourceMappingURL`

[code]

### With `source-map-loader`

Relevant eval block from `.next/static/chunks/pages/index.js`

[code]

decoded `sourceMappingURL`

[code]

I'm struggling to debug where this may occur.

[2021-04-09 17:06] alexander-akait commented on #146
To be honestly it is expected, you try to load files outside `context` (i.e. `/apps/app`), so some `sources` are broken, they outside `namespace` (i.e. `_N_E`) and you need mapping for this too

[2021-04-09 18:07] paynecodes commented on #146
I hear what you are saying about this being expected. Do you think this is still a bug? I believe there will be many more users who need to resolve source maps this way as webpack 5 adoption grows.

Can you point me at which lines of code may cause this behavior?

[2021-04-09 18:16] alexander-akait commented on #146
There is nothing specified, we just resolve `sources` and load them from ts with absolute path, when webpack covert when to relative like `path.relative(context, source)`

[2021-04-13 18:06] paynecodes commented on #146
Attempting to reference a related issue: https://github.com/webpack/webpack/issues/3603

[2021-05-17 10:56] ilgonmic opened #147 "Null in sources content skips reading of file"
- Operating System: macOS BigSur 11.2.3
- Node Version: 16.0.0
- NPM Version: 7.10.0
- webpack Version: 5.37.0
- source-map-loader Version: 2.0.1

### Expected Behavior

`null` in sources content considered as sources should be retrieved by name (http://sourcemaps.info/spec.html)

### Actual Behavior

`null` in sources content considered as skip reading of file

### Code

[code]

### How Do We Rep

[2021-05-17 12:01] alexander-akait commented on #147
I see, thanks, I will fix it

[2021-05-17 12:06] ilgonmic commented on #147
I have fix in branch, I am testing it. So feel free to use it
https://github.com/ilgonmic/source-map-loader/tree/fix-null-source-content

[2021-05-17 13:30] alexander-akait commented on #147
Fixed https://github.com/webpack-contrib/source-map-loader/pull/148

[2021-05-17 13:30] #147 closed

[2021-09-03 22:12] davidclark87 commented on #141
I hit the same issue as @vespakoen described. My app imports some JS files which have sourcemaps referencing TS files. When using source-map-loader, webpack watches the *.ts files and recompiles if I modify them. Setting `watchOptions.ignored` is a good workaround. But it seems odd to me that webpack is trying to watch the TS files in the first place - those TS files are not being imported anywher

[2021-11-02 20:03] tjx666 opened #160 "How to load externals commonjs sourcemap"
### Bug report

My part config:

[code]

### Actual Behavior

![image](https://user-images.githubusercontent.com/41773861/139943830-7fcb7f9a-39fa-4ae4-b836-5a7e221ef407.png)

### Expected Behavior

No warnings

### How Do We Reproduce?

This is my company project which is a adobe CEP extension like electron environment.

[2021-11-03 10:27] alexander-akait commented on #160
Setup this loader using as in readme, you don't have `source-map-loader` in your configuration, feel free to feedback

[2021-11-03 10:27] #160 closed

[2021-11-03 18:17] tjx666 commented on #160
@alexander-akait

After I config the sourcemap loader, the first issue is following:

![image](https://user-images.githubusercontent.com/41773861/140167591-09a48271-0d8b-4548-96fb-a2969ced06dd.png)

Then I config it like:

[code]

I want know that whether I fix `@reduxjs/toolkit` sourcemap in the right way.

The second problem is that devtools still show the warnings:

![image](https://user-images

[2021-11-03 18:20] alexander-akait commented on #160
Errors means we can't find source maps, i.e. package keep `sourceMapURL`, but not provide source files

If you provide small example I will show there

[2021-11-03 18:51] tjx666 commented on #160
I will try to provide a example this week end. Work day is a little busy.

[2021-11-03 19:00] alexander-akait commented on #160
Please open an `index.js.map` and check paths in `sources`

[2021-11-03 19:08] tjx666 commented on #160
I'm not very familiar with sourcemap, anything problem:

![image](https://user-images.githubusercontent.com/41773861/140176377-baf1ea8f-de65-4316-9432-12164961539c.png)

[index.js.map.zip](https://github.com/webpack-contrib/source-map-loader/files/7470137/index.js.map.zip)

[2021-11-03 19:17] alexander-akait commented on #160
I need reproducible example, something wrong in package with source maps or in configuration, we don't have magic here, just resolve file and load them

[2021-11-07 13:46] tjx666 commented on #160
@alexander-akait

Reproduce:

1. clone https://github.com/tjx666/webpack-sourcemap-issue-reproduce.git
2. install dependencies and yarn start

[2021-11-08 18:31] tjx666 commented on #160
@alexander-akait I have issue to them, but how to deal with another fontkit problem.

[2021-11-08 18:49] alexander-akait commented on #160
Maybe related https://github.com/electron/electron/issues/13730

[2021-12-30 09:59] tjx666 commented on #160
@alexander-akait

I dont'r need it's sourcemap. I fix it by:

![image](https://user-images.githubusercontent.com/41773861/147741308-c256494b-4536-4cfa-a02f-4762f7f9d027.png)

[2021-12-30 10:32] tjx666 commented on #160
@alexander-akait

fix it by:

![image](https://user-images.githubusercontent.com/41773861/147743850-61b9e738-e767-4963-b27b-5458e96419a4.png)

[2021-12-30 10:35] alexander-akait commented on #160
hm, weird, looks like you have broken source maps in some packages

[2022-01-18 13:53] webpack-bot opened #163 "source-map-loader Failed to parse source map... Error: ENOENT: no such file or directory"
# Bug report

**What is the current behavior?**

source-map-loader reporting errors for each installed module, example below (this repeats for each installed module)

[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

source-map-loader should not report any errors.

**Other relevant information:**
webpack version:  5.66.

[2022-01-18 13:54] alexander-akait commented on #163
@mickeysox it means package have broken source maps, and do not publish source map

[2022-01-18 13:58] mickeysox commented on #163
So shouldn't source-map-loader quietly ignore those packages that don't publish a source map instead of screaming if it's not a requirement?

[2022-01-18 14:16] alexander-akait commented on #163
Yes, you can ignore it, also you can report about this to authors

[2022-02-23 08:45] arielnmz-iws commented on #145
How can I make CRACO use webpack 5?

[2022-03-06 04:25] huchenh commented on #163
If you are debugging the npm library through npm link, you need to configure sourceRoot as the absolute path of the local source code repository。

[2022-03-06 04:28] huchenh commented on #163
Like rrweb, after this configuration, it can be successfully debugged in Google
<img width="1018" alt="image" src="https://user-images.githubusercontent.com/29995691/156909240-bd110103-5070-405d-81b4-2875b18533d7.png">
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/29995691/156909255-89bfa5ad-7996-4ac7-afcc-f909a2d98169.png">

[2022-06-14 12:59] atong666 commented on #163
How can I ignore it please?

[2022-07-27 13:32] Bartel-C8 commented on #160
I have the same issue with @sentry sourcemaps...

They are not provided by webpack-dev-server. I thought maybe because they have many versions of their source files (ESM / CJS / ...) ?

[code]

[2022-08-12 08:11] lovetingyuan opened #178 "ignoreWarnings: [/Failed to parse source map/], not work , webpack still output the warning message"
warning  in ./node_modules/mbiz-columns-template/dist/index.js

Module Warning (from ./node_modules/source-map-loader/dist/cjs.js):
Failed to parse source map from '....' file: Error: ENOENT: no such file or directory, open '...'

 {
  module: { rules: [ [Object], [Object], [Object], [Object], [Object] ] },
  ignoreWarnings: [ /Failed to parse source map/]
}

[2022-08-12 11:48] alexander-akait commented on #178
It means you have a library/something with the source maps comment, byt without source maps files, please fill out the issue template and I will help, otherwise I can't say there is a problem, thank you

[2022-08-12 11:48] #178 closed

[2022-08-25 11:02] PierBJX opened #180 "Take in account DevTool to false"
### Feature Proposal
I notice that even if `devtool` is not defined or set to false, `source-map-loading` is doing some stuff. I was wondering if it could make sense to deactivate this plugin by default in this case ?

### Feature Use Case
In development mode, you have `devtool` defines to `inline-source-map` (for example) and you need `SourceMapLoader`. However, in production mode, you do not hav

[2022-08-29 13:53] alexander-akait commented on #180
Yeah, makes sense, but it still will run loader (so you get extra calls), anyway you can use `.concat` when you setup loaders and don't use this loader when your are in production mode

[2022-09-05 12:27] PierBJX commented on #180
- So you mean that the loader will be run just to check the value of the `devtool` property ?
- What does source map loader do if `devtool` is set to `false` ?

[2022-09-05 17:07] alexander-akait commented on #180
Yes, but it is still extra calls. We avoid using devtool values, because some developer can set `devtool: false`, but load source maps for some other files and reuse it in other loaders/plugins. Due to this we avoid change logic loaders based on some global options, shorty - we don't know how a loader will be used.

Do the same as with any other value

[2022-10-01 12:05] rgischk opened #186 "Absolute URLs as sourceRoot not supported"
### Bug report

When using an absolute URL as the `sourceRoot`, an error is thrown. According to multiple sources I found online, e.g. the [typescript documentation](https://www.typescriptlang.org/tsconfig#sourceRoot), the `sourceRoot` field is allowed to be a path **or an URL**.

### Actual Behavior

Using a sourceRoot like `https://raw.githubusercontent.com/fb55/htmlparser2/4763205746cd80120b5d2

[2022-10-07 16:28] alexander-akait commented on #163
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2022-10-07 16:28] #163 closed

[2022-10-07 16:30] alexander-akait commented on #142
I want to close this issue, because webpack v4 is fully deprecated and please migrate on wepack v5

[2022-10-07 16:30] #142 closed

[2022-10-07 16:51] #186 closed

[2022-10-07 16:52] alexander-akait commented on #186
Fixed https://github.com/webpack-contrib/source-map-loader/pull/188, anyway we don't support fetching remote URLs, if you need it please write me here and I will look how we can implement this

[2022-10-17 13:32] rgischk commented on #186
@alexander-akait thank you for the quick fix. It works for me. But is there any chance we get this fix in a `3.0.2` release? We use create-react-app, and I don't see them migrate to the `4.x.x` release any time soon, because they would have to increase their minimum supported `Node.js` version to `14.15.0`.

[2022-10-17 13:48] alexander-akait commented on #186
I strongly recommend to update to `v4`, anyway I can accept the same fix (and PR) for v3 branch, feel free to send a PR

[2022-10-19 08:13] rgischk commented on #186
I created a branch from the 3.0.1 tag and cherry-picked your changes, but I do not have the permissions to push that branch. Also you said to create a PR, but what would be the target of that PR? There is no release branch for the 3.x.x line, is there? And finally the link to the CLA in your CONTRIBUTING.md seems to be broken, I get an error when I open it.

[2022-10-19 14:25] alexander-akait commented on #186
@rgischk Sorry for this, missed that branch doesn't exits, crated https://github.com/webpack-contrib/source-map-loader/tree/v3

Can you provide a place there is it?

[2022-10-20 07:13] rgischk commented on #186
@alexander-akait the link is located in the "Contributor License Agreement" section and links to `https://cla.js.foundation/webpack-contrib/source-map-loader`. When I open it, I get the following message:
[code]

Also I still don't have any permissions to push a branch, so I cannot create a pull request.

[2022-10-21 09:21] rgischk commented on #186
@alexander-akait I managed to do it now. Sorry for the trouble and thank you for the quick responses.

[2022-11-07 05:02] g-almabek commented on #144
Hi, @alexander-akait
I'm using latest version of webpack v5.74.0, but still I am getting this error.
Could you please advise?

[2022-11-07 15:29] alexander-akait commented on #144
@g-almabek It means you sitll use webpack v4